<input type="number" min="0" [(ngModel)]="rowsNumber" />
<button type="button" (click)="generateData()">Generate data</button>
<br />
<button type="button" (click)="clearData()">Reset table</button>
<br />
<button type="button" (click)="toggleCdk()">Toggle CDK</button>
<p>CDK: {{cdkStatus}}</p>
<p>Rows: {{tableData.length}}</p>
<div *ngIf="cdkStatus">
  <cdk-virtual-scroll-viewport [itemSize]="20">

    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>ID</td>
          <td *ngFor="let column of columns">{{column}}</td>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="let row of tableData">
          <td>{{row.name}}</td>
          <td>{{row.id}}</td>
          <td *ngFor="let column of row.columns">{{column}}</td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>

<div *ngIf="!cdkStatus">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>ID</td>
        <td *ngFor="let column of columns">{{column}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td>{{row.name}}</td>
        <td>{{row.id}}</td>
        <td *ngFor="let column of row.columns">{{column}}</td>
      </tr>
    </tbody>
  </table>
</div>